:root {
  --border-radius: 0.5rem;

  --colors-primary: #ffd700;
  --colors-secondary: #ddba00;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
}

ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

img {
  height: 100%;

  object-fit: contain;
}

button {
  border: none;

  cursor: pointer;

  padding: 1.5rem 2rem;
}

.btn {
  background-color: var(--colors-primary);

  border-radius: var(--border-radius);

  font-weight: 700;

  transition: background-color 0.5s ease-in;
}

.btn:hover {
  background-color: var(--colors-secondary);
}

/* -------------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------------- */

header {
  height: 100vh;
}

/* -------------------------------------------------------------------------- */
/* MENU ICON */
/* -------------------------------------------------------------------------- */

.menu-icon {
  position: fixed;

  right: 3rem;
  top: 3rem;

  z-index: 9999;
}

/* -------------------------------------------------------------------------- */
/* MENU HANDLER */
/* -------------------------------------------------------------------------- */

.menu-handler {
  height: 2em;
  width: 2em;

  opacity: 0;

  position: fixed;

  right: 3rem;
  top: 3rem;

  z-index: 9999;
}

/* -------------------------------------------------------------------------- */
/* MENU */
/* -------------------------------------------------------------------------- */

.menu {
  background: hsla(0, 0%, 100%, 0.9);

  height: 100vh;
  width: 100vw;

  overflow-y: auto;

  padding: 6rem 3rem 0;

  position: fixed;

  top: -200%;

  transition: top 0.6s ease-in;

  z-index: 999;
}

.menu-handler:checked + .menu {
  top: 0;
}

.menu__list {
  align-items: center;

  display: flex;

  flex-direction: column;

  height: 100%;
}

.menu__list-item {
  font-size: calc(1em * 1.5);
  font-weight: 700;

  width: 100%;
}

.menu__list-item::after {
  background: #000;

  content: '';

  display: block;

  height: 0.5rem;
  width: 1.5em;

  margin: 1rem 0 2rem;
}

/* -------------------------------------------------------------------------- */
/* HERO */
/* -------------------------------------------------------------------------- */

.hero {
  height: inherit;
}

.hero-content {
  background: url('../statics/images/hero-image.jpg') center no-repeat;
  background-size: cover;

  height: 75%;

  position: relative;
}

.hero-content__title,
.hero-content__sub-title {
  background-color: var(--colors-primary);

  padding: 1rem 0.5rem;

  position: absolute;

  z-index: 99;
}

.hero-content__title {
  margin: 0;

  top: 4em;
}

.hero-content__sub-title {
  font-weight: 700;

  top: 12.5em;
}

/* -------------------------------------------------------------------------- */
/* OFFERS */
/* -------------------------------------------------------------------------- */

.offer-list {
  background-color: #ffe455;

  display: grid;

  gap: 0.8em;
  grid-template-columns: repeat(2, 1fr);

  height: 25%;
}

.offer {
  align-items: center;

  background-color: var(--colors-primary);

  display: flex;

  flex-direction: column;

  justify-content: center;
}

.offer__price {
  margin-bottom: 1rem;
  margin: 0;
}

.offer__name {
  font-weight: 700;
}

/* -------------------------------------------------------------------------- */
/* SERVICES */
/* -------------------------------------------------------------------------- */

.service-list {
  align-items: center;

  display: flex;

  flex-direction: column;

  margin-top: 2rem;

  padding: 0 2rem;
}

.service:not(:last-child) {
  margin-bottom: 4rem;
}

.service__icon {
  height: 7rem;
}

.service__title {
  margin-bottom: 1.5rem;
}

.service__text {
  line-height: 1.5;

  margin: 0;
}

/* -------------------------------------------------------------------------- */
/* FEATURED FOOD */
/* -------------------------------------------------------------------------- */

.featured-food {
  background-color: #000;

  margin-top: 2rem;

  padding: 0rem 0 2.5rem;
}

.featured-food__image {
  height: 20rem;
  width: 100%;

  object-fit: cover;
}

.featured-food-content {
  padding: 0 2rem;
}

.featured-food-content__title,
.featured-food-content__text {
  color: #fff;
}

.featured-food-content__title {
  display: inline-block;

  margin-bottom: 0;
}

.featured-food-content__title::after {
  background: linear-gradient(
    90deg,
    rgba(255, 215, 0, 1) 0%,
    rgba(255, 234, 119, 1) 100%
  );

  content: '';

  display: block;

  height: 0.5rem;
  width: 60%;

  margin: 0.5rem 0 1.5rem;
}

.featured-food-content__text {
  line-height: 1.5;

  margin: 0;
}

.featured-food-content button {
  margin-top: 1.5rem;
}

/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */

footer {
  margin-top: 2rem;

  padding: 0 2rem;
}

/* -------------------------------------------------------------------------- */
/* INSTANT GRAMS */
/* -------------------------------------------------------------------------- */

.instant-grams__title {
  display: inline-block;

  margin-bottom: 0;
}

.instant-grams__title::after {
  background: linear-gradient(
    90deg,
    rgba(255, 215, 0, 1) 0%,
    rgba(255, 234, 119, 1) 100%
  );

  content: '';

  display: block;

  height: 0.5rem;
  width: 60%;

  margin: 0.5rem 0 2rem;
}

/* -------------------------------------------------------------------------- */
/* MASONRY */
/* -------------------------------------------------------------------------- */

.masonry {
  column-count: 1;

  margin-bottom: 2rem;
}

.masonry__image {
  width: 100%;

  border-radius: var(--border-radius);
}

.masonry__image:not(:last-child) {
  margin-bottom: 2rem;
}

/* -------------------------------------------------------------------------- */
/* MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

@media (min-width: 280px) {
  /* --------------------------------------------- */
  /* BASE */
  /* --------------------------------------------- */

  body {
    font-size: 1.4rem;
  }
}

@media (min-width: 320px) {
  /* --------------------------------------------- */
  /* SERVICES */
  /* --------------------------------------------- */

  .service-list {
    padding: 0 3rem;
  }

  /* --------------------------------------------- */
  /* FEATURED FOOD */
  /* --------------------------------------------- */

  .featured-food-content {
    padding: 0 3rem;
  }

  /* --------------------------------------------- */
  /* FOOTER */
  /* --------------------------------------------- */

  footer {
    padding: 0 3rem;
  }

  /* --------------------------------------------- */
  /* MASONRY */
  /* --------------------------------------------- */

  .masonry {
    margin-bottom: 3rem;
  }
}

@media (min-width: 340px) {
  /* --------------------------------------------- */
  /* BASE */
  /* --------------------------------------------- */

  body {
    font-size: 1.6rem;
  }
}

@media (min-width: 576px) {
  /* --------------------------------------------- */
  /* SERVICES */
  /* --------------------------------------------- */

  .service-list {
    display: grid;

    gap: 4rem;

    grid-template-columns: repeat(2, 1fr);
  }

  .service:not(:last-child) {
    margin: 0;
  }

  /* --------------------------------------------- */
  /* MASONRY */
  /* --------------------------------------------- */

  .masonry {
    column-count: 2;
    column-gap: 2rem;
  }
}

@media (min-width: 768px) {
  /* --------------------------------------------- */
  /* FEATURED FOOD */
  /* --------------------------------------------- */

  .featured-food-content {
    padding: 0;
  }

  .featured-food {
    display: grid;

    gap: 2rem;

    grid-template-columns: 1fr 40%;

    height: 30rem;

    padding: 3rem;
  }

  .featured-food__image {
    border-radius: var(--border-radius);

    grid-column: 1 / 2;

    height: 100%;
  }

  .featured-food-content {
    display: grid;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    place-content: center;
    place-items: flex-start;
  }

  .featured-food-content__title {
    margin: 0;
  }

  /* --------------------------------------------- */
  /* MASONRY */
  /* --------------------------------------------- */

  .masonry {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  /* --------------------------------------------- */
  /* HEADER */
  /* --------------------------------------------- */

  header {
    height: auto;

    margin: 0 auto;

    max-width: 120rem;
  }

  /* --------------------------------------------- */
  /* MENU ICON */
  /* --------------------------------------------- */

  .menu-icon {
    display: none;
  }

  /* --------------------------------------------- */
  /* MENU HANDLER */
  /* --------------------------------------------- */

  .menu-handler {
    display: none;
  }

  /* --------------------------------------------- */
  /* MENU */
  /* --------------------------------------------- */

  .menu {
    height: auto;
    width: 100%;

    margin: 2rem 0;
    padding: 0;

    position: initial;

    top: 0;
  }

  .menu__list {
    flex-direction: row;

    gap: 2rem;
  }

  .menu__list-item {
    background-color: var(--colors-primary);

    font-size: 1em;

    padding: 1rem 0;

    text-align: center;
  }

  .menu__list-item::after {
    display: none;
  }

  /* --------------------------------------------- */
  /* HERO */
  /* --------------------------------------------- */

  .hero {
    display: grid;

    gap: 2rem;

    grid-template-columns: 1fr 35%;

    height: 40rem;
  }

  .hero-content {
    height: 100%;
  }

  .hero-content__title,
  .hero-content__sub-title {
    left: 4rem;
  }

  /* --------------------------------------------- */
  /* OFFERS */
  /* --------------------------------------------- */

  .offer-list {
    background-color: transparent;

    display: flex;

    flex-direction: column;

    gap: 2rem;

    height: 100%;
  }

  .offer {
    flex: 1;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  /* --------------------------------------------- */
  /* HERO */
  /* --------------------------------------------- */

  .hero-content__title {
    top: 2.1em;
  }

  .hero-content__sub-title {
    top: 8.5em;
  }
}

@media (min-width: 1200px) {
  /* --------------------------------------------- */
  /* MAIN */
  /* --------------------------------------------- */

  main {
    margin: 0 auto;

    max-width: 120rem;
  }

  /* --------------------------------------------- */
  /* HERO */
  /* --------------------------------------------- */

  .hero-content {
    border-bottom-left-radius: var(--border-radius);
  }

  .offer:last-child {
    border-bottom-right-radius: var(--border-radius);
  }

  /* --------------------------------------------- */
  /* SERVICES */
  /* --------------------------------------------- */

  .service-list {
    display: flex;

    flex-direction: row;

    gap: 3rem;

    padding: 0;

    position: relative;
  }

  .service {
    align-items: center;

    border-radius: var(--border-radius);

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);

    display: flex;

    flex-direction: column;

    justify-content: center;

    padding: 2rem;

    text-align: center;

    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
  }

  .service:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

    transform: translate(0, -0.5rem);
  }

  /* --------------------------------------------- */
  /* FEATURED FOOD */
  /* --------------------------------------------- */

  .featured-food {
    height: 40rem;

    border-radius: var(--border-radius);
  }

  .featured-food-content__text > span {
    display: block;
  }

  /* --------------------------------------------- */
  /* FOOTER */
  /* --------------------------------------------- */

  footer {
    margin: 2rem auto 0;

    max-width: 120rem;

    padding: 0;
  }

  /* --------------------------------------------- */
  /* MASONRY */
  /* --------------------------------------------- */

  .masonry {
    column-count: 4;
  }
}

@media (min-width: 1500px) {
  /* --------------------------------------------- */
  /* BASE */
  /* --------------------------------------------- */

  body {
    font-size: 1.8rem;
  }

  /* --------------------------------------------- */
  /* HEADER */
  /* --------------------------------------------- */

  header {
    max-width: 150rem;
  }

  /* --------------------------------------------- */
  /* MAIN */
  /* --------------------------------------------- */

  main {
    max-width: 150rem;
  }

  /* --------------------------------------------- */
  /* FEATURED FOOD */
  /* --------------------------------------------- */

  .featured-food {
    gap: 4rem;

    grid-template-columns: repeat(2, 1fr);
  }

  .featured-food-content {
    align-content: center;

    display: grid;

    place-content: flex-start;
    place-items: flex-start;
  }

  /* --------------------------------------------- */
  /* FOOTER */
  /* --------------------------------------------- */

  footer {
    max-width: 150rem;
  }
}
